{% extends "calc/main.html" %}

{% block  content %}
<h1>Products</h1>

<form method="post">
{% csrf_token %}
    <table class="table">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя операции</th>
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
        <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td><input type="checkbox" name="selected_item" value="{{product.id}}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button  type="submit" name="delete_selected">Удалить</button>
</form>
<br>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
<!--            <input type="submit" value="Save">-->
    <button  type="submit" name="add_item">Добавить</button>
</form>
{% endblock content %}
