{% extends "calc/main.html" %}

{% block  content %}


<h1>Products</h1>
<table class="table">


<thead>
<tr>
  <th scope="col">#</th>
  <th scope="col">Имя операции</th>
</tr>
</thead>
<tbody>
{% for product in products %}
    <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
    </tr>
{% endfor %}
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Mark</td>-->
<!--         -->
<!--        </tr>-->
</tbody>
</table>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
<!--            <input type="submit" value="Save">-->
    <button  type="submit">Сохранить</button>
</form>
{% endblock %}
<!--{% extends "calc/products.html" %}-->

<!--{% block  product_form %}-->

<!--<form method="post">{% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--&lt;!&ndash;            <input type="submit" value="Save">&ndash;&gt;-->
<!--    <button  type="submit">Сохранить</button>-->
<!--</form>-->


<!--{% endblock %}-->