{% extends "calc/main.html" %}

{% block  content %}
<h1>Пользователи </h1>

<form method="post">
{% csrf_token %}
    <table class="table">

        <thead>
        <tr>
            <th scope="col">*</th>
            <th scope="col">#</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Email</th>
            <th scope="col">Активный</th>
        </tr>
        </thead>
        <tbody>
        {% for stuff in stuff_list_create %}
        <tr>
            <td><input type="checkbox" name="stuff_selected" value="{{stuff.id}}"></td>
            <th scope="row">{{stuff.id}}</th>
            <td>{{stuff.name}}</td>
            <td>{{stuff.email}}</td>
            <td><input type="checkbox" name="stuff_status" {% if stuff.status %}checked{% endif %} value="{{stuff.id}}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button  type="submit" name="save_item">Сохранить</button>
    <button  type="submit" name="delete_selected">Удалить</button>
</form>
<br>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
<!--            <input type="submit" value="Save">-->

    <button  type="submit" name="add_item">Добавить</button>
</form>

{% endblock content %}
